.DS_Store
node_modules
dist
out
dist-*
out-*
*.log*
*.tsbuildinfo
.vscode
.turbo

# Keep project-specific VSCode settings
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Ignore other VSCode files
.vscode/*

# Ignore VSCode local history
.history/
.ionide/

# Ignore VSCode workspace files (usually personal)
*.code-workspace

