name: Manual Pre-Release Publish

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch for pre-release'
        required: true
        default: 'main'
        type: choice
        options:
          - main
          - feature
      prerelease_version:
        description: 'The new prerelease version to create.'
        required: true
        default: 'prerelease'
        type: choice
        options:
          - prepatch
          - preminor
          - premajor
          - prerelease
      packages:
        description: 'Package(s) to release'
        required: true
        default: 'all'
        type: choice
        options:
          - '@zubridge/electron'
          - '@zubridge/tauri'
          - '@zubridge/tauri-v1'
          - 'all'
      dry_run:
        description: 'Do not touch or write anything. Show the commands.'
        required: false
        default: false
        type: boolean

jobs:
  pre-release:
    name: Pre-release
    uses: ./.github/workflows/_release-orchestration.reusable.yml
    with:
      branch: ${{ inputs.branch }}
      release_version: ${{ inputs.prerelease_version }}
      packages: ${{ inputs.packages }}
      dry_run: ${{ inputs.dry_run }}
    secrets:
      github_bot_token: ${{ secrets.GITHUB_TOKEN }}
      npm_token: ${{ secrets.NPM_TOKEN }}
      deploy_key: ${{ secrets.DEPLOY_KEY }}
